<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet" href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Room page</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark ext-light p-1">
        <div class="container-fluid">
            <a href="apartments.html" class="navbar-brand" th:href="@{/apartments}">
                <img src="../../resources/static/img/hotel_blue.svg"
                                                  th:src="@{/resources/static/img/hotel_blue.svg}"
                                                  height="32" width="32" alt="Hotel"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="apartments.html"
                           th:href="@{/apartments}">Apartments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Residents_list.html"
                            th:href="@{residents}">Residents</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav id="main-header"
         class="py-1 mb-3 navbar navbar-light bg-light text-dark">
        <div class="container-fluid">
            <ul class="navbar-nav float-start">
                <li class="nav-item"
                    title="Back to apartments">
                    <a href="apartments.html"
                       th:href="@{/apartments}"
                       class="btn btn-light btn-block"><i class="bi-arrow-left"></i></a>
                </li>
            </ul>
            <span class="navbar-brand text-uppercase me-auto"
                  th:text="${isNew} ? 'New apartment' : 'Edit apartment'">Edit apartment</span>
        </div>
    </nav>
</header>

<section id="resident">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <form id="apartmentForm"
                              th:object="${apartmentAttribute}"
                              action="/apartment"
                              th:action="@{${#httpServletRequest.servletPath}}"
                              th:method="@{post}">

                            <input id="field_apartmentId"
                                   type="hidden"
                                   th:field="*{apartmentId}"/>

                            <div>
                                <label class="form-label" for="field_room">Apartment Number</label>
                                <input class="form-control" id="field_room"
                                       type="text" value="101"
                                       th:field="*{apartmentNumber}"/>
                                <th:block th:if="${#fields.hasErrors('apartmentNumber')}">
                                    <div th:errorclass="invalid-input" th:errors="*{apartmentNumber}"></div>
                                </th:block>
                            </div>
                            <br>
                            <div>
                                <label for="type">Apartment class</label>
                                <select class="form-control" id="type" name="apartmentClass" th:field="*{apartmentClass}">
                                    <option th:value="null" th:text="none"></option>
                                    <option value="CHEAP">CHEAP</option>
                                    <option value="MEDIUM">MEDIUM</option>
                                    <option value="LUXURIOUS">LUXURIOUS</option>
                                </select>
                                <th:block th:if="${#fields.hasErrors('apartmentClass')}">
                                    <div th:errorclass="invalid-input" th:errors="*{apartmentClass}"></div>
                                </th:block>
                            </div>
                            <br>
                            <div class="d-flex justify-content-end">
                                <a href="apartments.html"
                                   th:href="@{/apartments}"
                                   class="btn btn-light me-1"
                                   title="Cancel">Cancel</a>
                                <a href="apartments.html"
                                   th:href="@{/apartments}"
                                   th:onclick="@{document.forms['apartmentForm'].submit(); return false;}"
                                   class="btn btn-primary"
                                   title="Save apartment">Save</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <hr/>
    <p class="text-center">Vitaliy Punko &copy; 2021</p>
</footer>

<script src="../../resources/static/js/bootstrap.bundle.min.js"
        th:src="@{/resources/static/js/bootstrap.bundle.min.js}"></script>
<script src="../../resources/static/js/jquery-3.4.1.slim.min.js"
        th:src="@{/resources/static/js/jquery-3.4.1.slim.min.js}"></script>

</body>
</html>