<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet" href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>List of apartments</title>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="apartments.html" class="navbar-brand" th:href="@{/apartments}">
                <img src="../../resources/static/img/hotel_blue.svg"
                                                  th:src="@{/resources/static/img/hotel_blue.svg}"
                                                  height="32" width="32" alt="Hotel"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="apartments.html"
                           th:href="@{/apartments}">Apartments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Residents_list.html"
                           th:href="@{/residents}">Residents</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav id="main-header"
         class="py-1 mb-3 navbar navbar-light bg-light text-dark">
        <div class="container-fluid">
            <span class="navbar-brand">List of apartments</span>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="apartmentPage.html"
                       th:href="@{/apartment}"
                       class="btn btn-light"
                       title="Add apartment">
                        <i class="bi-plus"></i>&nbsp;<span class="d-none d-sm-inline">Add apartment</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<section id="apartments">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <table class="table table-striped">
                        <thead class="table-dark">
                        <tr>
                            <th>№ Apartment</th>
                            <th>Apartment's class</th>
                            <th>AVG time of stay</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="apartments : ${allApartmentsAttribute}">
                            <td th:text="${apartments.apartmentNumber}">101</td>
                            <td th:text="${apartments.apartmentClass}">Luxury</td>
                            <td th:text="${apartments.averageTime}">16</td>
                            <td class="text-end">
                                <a href="apartmentPage.html"
                                   th:href="@{|/apartment/${apartments.apartmentId}|}"
                                   class="btn-sm btn-outline-secondary"
                                   title="Edit department">
                                    <i class="bi-pen"></i><span class="d-none d-md-inline">&nbsp;Edit</span></a>
                                <span data-bs-toggle="modal" data-bs-target="#deleteDialog"
                                      th:attr="data-id=${apartments.apartmentId},
                                                 data-name=${apartments.apartmentNumber}">
                                        <a href="#" class="btn-sm btn-outline-secondary"
                                           title="delete apartment"><i class="bi-x"></i><span
                                                class="d-none d-md-inline">&nbsp;Delete</span>
                                        </a>
                                    </span>
                            </td>
                        </tr>
                        <tr th:remove="all">
                            <td>102</td>
                            <td>Medium</td>
                            <!--                            <td>33.6</td>-->
                            <td class="text-end">
                                <a href="apartmentPage.html"
                                   class="btn-sm btn-outline-secondary"
                                   title="Edit department">
                                    <i class="bi-pen"></i><span class="d-none d-md-inline">&nbsp;Edit</span></a>
                                <span data-bs-toggle="modal" data-bs-target="#deleteDialog">
                                        <a href="#" class="btn-sm btn-outline-secondary"
                                           title="delete resident"><i class="bi-x"></i><span
                                                class="d-none d-md-inline">&nbsp;Delete</span>
                                        </a>
                                    </span>
                            </td>
                        </tr>
                        <tr th:remove="all">
                            <td>103</td>
                            <td>Cheap</td>
                            <!--                            <td>null</td>-->
                            <td class="text-end">
                                <a href="apartmentPage.html"
                                   class="btn-sm btn-outline-secondary"
                                   title="Edit department">
                                    <i class="bi-pen"></i><span class="d-none d-md-inline">&nbsp;Edit</span></a>
                                <span data-bs-toggle="modal" data-bs-target="#deleteDialog">
                                        <a href="#" class="btn-sm btn-outline-secondary"
                                           title="delete resident"><i class="bi-x"></i><span
                                                class="d-none d-md-inline">&nbsp;Delete</span>
                                        </a>
                                    </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <hr/>
    <p class="text-center">Vitaliy Punko &copy; 2021</p>
</footer>

<!-- Confirm delete Modal -->
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h5 class="modal-title" id="exampleModalLabel">Delete apartment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Please confirm delete
            </div>
            <div class="modal-footer">
                <a id="cancel" href="/residents" class="btn btn-secondary">Cancel</a>
                <a id="deleteUrl" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<script src="../../resources/static/js/bootstrap.bundle.min.js"
        th:src="@{/resources/static/js/bootstrap.bundle.min.js}"></script>
<script src="../../resources/static/js/jquery-3.4.1.slim.min.js"
        th:src="@{/resources/static/js/jquery-3.4.1.slim.min.js}"></script>
<script>
    $('#deleteDialog').on('show.bs.modal', function (event) {
        var target = $(event.relatedTarget)
        $(this).find('.modal-body').text('Please, confirm delete apartment with number: '   + target.data('name') + '')
        document.getElementById('deleteUrl').href = '/apartment/' + target.data('id') + '/delete';
    })
</script>

</body>
</html>